.baloom {
    font-style: italic;
    margin: 0 15px 15px 15px;
    padding: 20px;
    background: #b4b6c3;
    position: relative;
    margin-bottom: 35px;
    border-radius: 6px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.baloom::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #b4b6c3;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
}